.white-Form{
	-fx-background-color : #fff;
	-fx-background-radius : 8px;
}

.border{
	-fx-background-color : white;
	-fx-border-width : 1px;
		-fx-border-width : 8px;
}


.btn
{
	-fx-background-color:  linear-gradient(to bottom right, #9e20a0, #5a3375);
	-fx-font-size:14px;
	-fx-text-fill :#fff;
	-fx-cursor:hand;
}

.btn:hover
{
	-fx-background-color : linear-gradient(to bottom right, #9e20a0, #5a3375);
	
} 


.table-view{
-fx-border-color: linear-gradient(to bottom right, fa914ae, 17f4fa4);
-fx-background-color: transparent;
-fx-padding: 0px;
-fx-border-radius: 8px;
-fx-border-width: 2px;
}


.table-view .column-header
{
	-fx-alignment : CENTER;
}

.table-view.colum-header-background
{
	-fx-background-color: linear gradient(to bottom right, #9e20a0,#5a3375);
	-fx-background-radius: 8px 8px 0 0;
	-fx-background-inset: 0 0 0 0;
	
}

